body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff847c;
  color:white;
}
.container-fluid{
  padding: 3% 15% 7%;
}
h1{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat-Bold";
  font-size: 3.5rem;
  line-height: 1.5;
}
/* Navigation bar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}
/* Buttons */
.download-button{
  margin:5% 3% 5% 0;
}
/* Title image */
.phonedog-pic{
  width:60%;
  transform: rotate(25deg);
  position: absolute;
  right:30%;
}
/* Features */
#features{
  padding: 7% 15%;
  text-align: center;
  background-color: white;
  position: relative;
}
.feature-icon{
  font-size: 5.2rem;
  margin-bottom:1rem;
  color: #ff847c;
}
.feature-icon:hover{
  color: #ff4c68;
}
.feature-heading{
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
}
.feature-msg{
  color: #8f8f8f;
  padding:5%;
}
/* testimonials */
#testimonials{
  text-align: center;
  background-color: #ff847c;
  color:white;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
.carousel-item{
  padding: 7% 15%;
}
/* Press */
#press{
  background-color: #ff847c;
  text-align:center;
  padding-bottom: 3%;
}
.press-img{
  width: 15%;
  margin:20px 20px 50px;
}
/* pricing */
#pricing{
  padding:100px;
  text-align: center;
}
.pricing-cards{
  padding:3% 2%;
}
